<form [formGroup]='form' (submit)="enregistre()">
<mat-card>
  <mat-card-title fxLayout fxLayoutAlign='center'>
    {{title}}
  </mat-card-title>
  <mat-card-content>
    <div  fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="20px">

              <mat-form-field appearance="fill" fxFlex="40%">
                <mat-label>Matricule</mat-label>
                <input matInput placeholder="Matricule" formControlName="Matricule"  mask="0000 SS 000">
                <mat-error >Veuillez saisir le matricule de vehicule</mat-error>
              </mat-form-field>


              <mat-form-field appearance="fill" fxFlex="40%">
                  <mat-label>Marque</mat-label>
                  <mat-select formControlName="Marque" required>
                    <mat-option *ngFor="let marque of marques" [value]="marque.Libelle">{{marque.Libelle}}</mat-option>

                  </mat-select>
                  <mat-error>Veuillez choisir la marque de vehicule</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="20px">

                      <mat-form-field appearance="fill" fxFlex="40%">
                        <mat-label>Type</mat-label>
                        <input matInput placeholder="Type"  formControlName="Type"  >
                        <mat-error>Veuillez choisir le type de vehicule</mat-error>
                      </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="40%">
                  <mat-label>Categorie</mat-label>
                  <mat-select formControlName="Categorie"  >
                    <mat-option value="Tracteur">Tracteur</mat-option>
                    <mat-option value="Remorque">Remorque</mat-option>
                    <mat-option value="Utilitaire">Utilitaire</mat-option>
                  </mat-select>
                  <mat-error>Veuillez choisir le categorie de vehicule</mat-error>

                </mat-form-field>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="20px">
            <mat-form-field appearance="fill" fxFlex="40%">
              <mat-label>Date de la premiere mise en circulation</mat-label>
              <input type="date" matInput placeholder="Date de la premiere mise en circulation" formControlName="DPMC"  >
              <mat-error >Veuillez saisir la date de la premiere mise en circulation</mat-error>
            </mat-form-field>



            <mat-form-field appearance="fill" fxFlex="40%">
                <mat-label>Propritaire</mat-label>
                <input  matInput placeholder="Propritaire" formControlName="Propritaire"  >
                <mat-error>Veuillez choisir le propritaire de vehicule</mat-error>
              </mat-form-field>
          </div>


          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="20px">

                <mat-form-field appearance="fill" fxFlex="40%">
                    <mat-label>Compteur</mat-label>
                    <input  matInput placeholder="Compteur" formControlName="Compteur">
                    <mat-error >Veuillez saisir la valeur du compteur de vehicule</mat-error>
                  </mat-form-field>
                  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="start center" fxFlex='40%'>
                      <div >
                    <button (click)="cartegrisse.click()" type='button' mat-raised-button color='primary'
                     *ngIf='cartegrissePreview===null'><mat-icon>add</mat-icon> carte grisse</button>
                    <button type='button' mat-raised-button color='accent' (click)="supprimercartegris()"
                    *ngIf='cartegrissePreview!==null'><mat-icon>close</mat-icon>Supprimer</button>

                    <input type="file" #cartegrisse onclick="value=null"  (change)="onCategrissePicked($event)" style="visibility: hidden;">
                      <div class="image-preview" *ngIf="cartegrissePreview !== '' && cartegrissePreview && form.get('CopierCarteGrise').valid">
                          <img [src]="cartegrissePreview" [alt]="form.value.title">
                      </div>
                </div>
                <div >
                  <button (click)="CopierContrat.click()" type='button' mat-raised-button color='primary'
                   *ngIf='copiercontratPreview===null'><mat-icon>add</mat-icon>copier contrat</button>
                  <button (click)='supprimercopiercontrat()' type='button'  mat-raised-button color='accent'
                   *ngIf='copiercontratPreview!==null'><mat-icon>close</mat-icon>Supprimer</button>

                  <input type="file" #CopierContrat onclick="value=null"  (change)="oncopiercontratPicked($event)" style="visibility: hidden;">
                    <div class="image-preview" *ngIf="copiercontratPreview !== '' && copiercontratPreview && form.get('CopierCarteGrise').valid">
                        <img [src]="copiercontratPreview" [alt]="form.value.title">
                    </div>
              </div>
                  </div>

              </div>

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap="20px" style="margin-top: 2%;">
                <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" >
                  <mat-icon>save</mat-icon> Enregistrer
              </button>
              <button mat-raised-button type="reset" color='accent' >
                  <mat-icon>clear</mat-icon> Réinitialiser
              </button>
            </div>

  </mat-card-content>

</mat-card>
</form>

