<form [formGroup]="form" (submit)="enregistre()">
  <mat-card fxLayout='column' fxLayoutAlign='center center'>
    <div fxLayout.lt-md='column' fxLayoutAlign='center center' fxLayout='row' >
      <mat-form-field appearance="fill" fxFlex='40%'>
        <mat-label>Prestataire</mat-label>
        <select matNativeControl formControlName="prestataireassuranceID" required>
          <option *ngFor="let pre of prestataires" [value]="pre?.ID">{{pre?.Libelle}} </option>


        </select>
        <mat-error *ngIf="form.get('prestataireassuranceID').hasError('required')">
          Prestataire est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>DateOperation </mat-label>
        <input matInput type="date" formControlName="DateOperation" required>
        <mat-error *ngIf="form.get('DateOperation').hasError('required')">
          Date Operation est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>


      <mat-form-field appearance="fill">
        <mat-label>Date Debut Validite </mat-label>
        <input matInput type="date" formControlName="DateDebutValidite" required>
        <mat-error *ngIf="form.get('DateDebutValidite').hasError('required')">
          Date Debut Validite est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date Fin Validite</mat-label>
        <input matInput type="date" formControlName="DateFinValidite" required>
        <mat-error *ngIf="form.get('DateFinValidite').hasError('required')">
          Date Fin Validite est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>


      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" formControlName="Montant">
        <span matPrefix>DT&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="form.get('Montant').hasError('required')">Montant est obligatoire</mat-error>

      </mat-form-field>
      <button type="button" class="btn btn-warning" style="margin-bottom: 10px;" (click)="filePicker.click()"
        *ngIf='imagePreview ==null'>Copier de assurance
      </button>
      <button type="button" class="btn btn-warning" style="margin-bottom: 10px;" (click)="supprimerimage()"
        *ngIf='imagePreview !=null'>Supprimer Copier de assurance</button>

      <input type="file" #filePicker (change)="onImagePicked($event)" style="visibility: hidden;">
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('CopierAssurance').valid">
        <img [src]="imagePreview" [alt]="form.value.title"></div>
    </div>



    <div>








      <button mat-button class="btn btn-success" (click)="enregistre()">
        <mat-icon>save</mat-icon> enregistre
      </button>
</div>

  </mat-card>
  <mat-card>
    <mat-card *ngIf="assurances.length ===0" style="margin-top: 4%;" class="container-fluid">
      <h4>pas des assurance encore</h4>
    </mat-card>
    <div *ngIf="assurances.length !=0">
      <mat-form-field>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="Prestataire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prestataire </th>
            <td mat-cell *matCellDef="let element"> {{element.prestataireassurance?.Libelle}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="DateOperation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DateOperation </th>
            <td mat-cell *matCellDef="let element"> {{element.DateOperation |date}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="DateDebutValidite">
            <th mat-header-cell *matHeaderCellDef> DateDebutValidite </th>
            <td mat-cell *matCellDef="let element"> {{element.DateDebutValidite |date}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="DateFinValidite">
            <th mat-header-cell *matHeaderCellDef> DateFinValidite </th>
            <td mat-cell *matCellDef="let element"> {{element.DateFinValidite |date}} </td>
          </ng-container>





          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="btn btn-primary" (click)="openDialog(element.ID)"
                matTooltip="Afficher personnel information">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <a mat-icon-button class="btn btn-warning" matTooltip="Edit personnel information"
                aria-label="Example icon button with a home icon">
                <mat-icon>edit</mat-icon>
              </a>
              <button mat-icon-button class="btn btn-danger" matTooltip="Supprimer personnel ">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-card>
</form>
