<mat-card>
  <mat-card-title fxLayout fxLayoutAlign="center">Profile</mat-card-title>
  <mat-card-title> <div  fxLayout="row" fxLayoutAlign="start center" >
    <mat-card style="margin: 0; padding: 0;">
     <img [src]='user.Image'>
    <a><mat-icon (click)="profileimage.click()" class="top-right" matTooltip="Changer votre photo">
      cloud_upload
     </mat-icon></a>
    </mat-card>
    <input type="file" #profileimage (change)="changeimage($event)"
    style="visibility: hidden;">


  </div></mat-card-title>
  <mat-card-content>


<div  fxLayout="row" fxLayoutAlign="end center" fxFlexAlign.lt-lg="column" fxLayoutAlign.lt-lg="star center">
  <mat-card style=" box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); margin-bottom: 5%; width: 50%;">
  <table>
    <tr *ngIf="user?.Nom !=null">
        <td>
            <h4 *ngIf="user?.Nom !=null"><strong>Nom:</strong></h4>
        </td>
        <td>
            <h4>{{user?.Nom}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.Prenom !=null">
        <td>
            <h4 *ngIf="user?.Prenom !=null"><strong>Prenom:</strong></h4>
        </td>
        <td>
            <h4>{{user?.Prenom}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.Cin !=null">
        <td>
            <h4 *ngIf="user?.Cin !=null"><strong>Cin:</strong></h4>
        </td>
        <td>
            <h4>{{user?.Cin}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.Rs !=null">
        <td>
            <h4 *ngIf="user?.Rs !=null"><strong>RS:</strong></h4>
        </td>
        <td>
            <h4>{{user?.Rs}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.Adresse !=null">
        <td>
            <h4 *ngIf="user?.Adresse !=null"><strong>Adresse:</strong></h4>
        </td>
        <td>
            <h4>{{user?.Adresse}}</h4>
        </td>

    </tr>
    <tr *ngIf="user?.Tel !=null">
        <td>
            <h4 *ngIf="user?.Tel !=null"><strong>Telephone:</strong> </h4>
        </td>
        <td>
            <h4>{{user?.Tel}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.Fax !=null">
        <td>
            <h4 *ngIf="user?.Fax !=null"><strong>Fax:</strong> </h4>

        </td>
        <td>
            <h4>{{user?.Fax}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.Email !=null">
        <td>
            <h4 *ngIf="user?.Email !=null"><strong>Email:</strong></h4>
        </td>
        <td>
            <h4>{{user?.Email}}</h4>
        </td>
    </tr>

    <tr *ngIf="user?.Site !=null">
        <td>
            <h4 *ngIf="user?.Site !=null"><strong>Site:</strong></h4>

        </td>
        <td>
            <h4>{{user?.Site}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.DateDeNaissance !=null">
        <td>
            <h4 *ngIf="user?.DateDeNaissance !=null"><strong>Date de
                    naissance:</strong></h4>
        </td>
        <td>
            <h4>{{user?.DateDeNaissance}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.Login !=null">
        <td>
            <h4 *ngIf="user?.Login !=null"><strong>Login:</strong></h4>
        </td>
        <td>
            <h4>{{user?.Login}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.NomPC !=null">
        <td>
            <h4 *ngIf="user?.NomPC !=null"><strong>Personne a contacter nom:</strong></h4>

        </td>
        <td>
            <h4>{{user?.NomPC}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.PrenomPC !=null">
        <td>
            <h4 *ngIf="user?.PrenomPC !=null"><strong>Personne a contacter
                    prenom:</strong></h4>
        </td>
        <td>
            <h4>{{user?.PrenomPC}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.TelPersonnelContact !=null">
        <td>
            <h4 *ngIf="user?.TelPersonnelContact !=null"><strong>Personne a contacter
                    numero:</strong></h4>
        </td>
        <td>
            <h4>
                {{user?.TelPersonnelContact}}
            </h4>
        </td>
    </tr>
    <tr *ngIf="user?.FaxPersonnelContact !=null">
        <td>
            <h4 *ngIf="user?.FaxPersonnelContact !=null"><strong>Personne a contacter
                    fax:</strong></h4>
        </td>
        <td>
            <h4>
                {{user?.FaxPersonnelContact}}
            </h4>
        </td>
    </tr>
    <tr *ngIf="user?.AdresseEmailPersonnel !=null">
        <td>
            <h4 *ngIf="user?.AdresseEmailPersonnel !=null"><strong>Personne a contacter
                    email:</strong></h4>
        </td>
        <td>
            <h4>{{user?.AdresseEmailPersonnel}}</h4>
        </td>
    </tr>
    <tr *ngIf="user?.NumCNSS !=null">
        <td>
            <h4 *ngIf="user?.NumCNSS !=null"><strong>NumCnss:</strong></h4>

        </td>
        <td>
            <h4>
                {{user?.NumCNSS}}
            </h4>
        </td>
    </tr>
    <tr *ngIf="user?.SituationFamilialle !=null">
        <td>
            <h4 *ngIf="user?.SituationFamilialle !=null">
                <strong>SituationFamilialle:</strong></h4>
        </td>
        <td>
            <h4>
                {{user?.SituationFamilialle}}
            </h4>
        </td>
    </tr>
    <tr *ngIf="user?.Regfiscale !=null">
        <td>
            <h4 *ngIf="user?.Regfiscale !=null"><strong>Regfiscale:</strong></h4>

        </td>
        <td>
            <h4>
                {{user?.Regfiscale}}
            </h4>
        </td>
    </tr>
    <tr *ngIf="user?.Matfiscale !=null">
        <td>
            <h4 *ngIf="user?.Matfiscale !=null"><strong>Matfiscale:</strong></h4>

        </td>
        <td>
            <h4>
                {{user?.Matfiscale}}
            </h4>
        </td>
    </tr>
</table>

</mat-card>

</div>

<mat-accordion>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>{{panelOpenState ? 'remove': 'add' }}</mat-icon>
              Change votre information
          </mat-panel-title>

      </mat-expansion-panel-header>


<app-edit-user [IDuser]='IDuser'></app-edit-user>

  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
      <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>{{panelOpenState1 ? 'remove': 'add' }}</mat-icon>
              Change votre mot de passe
          </mat-panel-title>

      </mat-expansion-panel-header>





  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>{{panelOpenState2 ? 'remove': 'add' }}</mat-icon>
            Liste des compte
        </mat-panel-title>

    </mat-expansion-panel-header>




</mat-expansion-panel>
</mat-accordion>
</mat-card-content>
</mat-card>
