<mat-card>


  <div ngbDropdown class="d-inline-block">

    <div ngbDropdownMenu aria-labelledby="dropdownForm1">

      <form class="px-4 py-3" [formGroup]="form" (submit)="enregiste()">
        <div class="form-group">
          <label for="exampleDropdownFormEmail1">Libelle</label>
          <input type="email" class="form-control" formControlName="Libelle" id="exampleDropdownFormEmail1"
            placeholder="Libelle">
          <mat-error *ngIf="form.get('Libelle').hasError('required')&&form.touched||form.submited">
            Libelle <strong>obligatoire</strong>
          </mat-error>
        </div>


        <button type="submit">enregister</button>
      </form>

    </div>
  </div>





  <mat-card *ngIf="entretiens.length ===0" style="margin-top: 4%;">
    <mat-card-title><button mat-icon-button id="dropdownForm1" matTooltip="Ajouter personnel " ngbDropdownToggle>
        <mat-icon>add</mat-icon>

      </button>
    </mat-card-title>
    <h4>pas des personnel encore</h4>
  </mat-card>
  <mat-card-content *ngIf="entretiens.length !=0">
    <mat-form-field>
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="table table-responsive" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element?.ID}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Libelle </th>
        <td mat-cell *matCellDef="let element"> {{element?.Libelle}} </td>
      </ng-container>

      <!-- Weight Column -->




      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <ul id="menu">
            <li>

              <div ngbDropdown class="d-inline-block" style="margin-right: 5%;">
                <button mat-icon-button id="dropdownForm2" class="btn btn-warning" matTooltip="Edit poste personnel "
                  (click)='patch(element.ID)' ngbDropdownToggle>
                  <mat-icon>edit</mat-icon>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownForm2">
                  <form class="px-4 py-3" [formGroup]="form1" (submit)="edite()">
                    <div class="form-group">
                      <label for="exampleDropdownFormEmail1">Libelle</label>
                      <input type="email" class="form-control" formControlName="Libelle1" id="exampleDropdownFormEmail1"
                        placeholder="Libelle">
                      <mat-error *ngIf="form1.get('Libelle1').hasError('required')&&form.touched||form.submited">
                        Libelle <strong>obligatoire</strong>
                      </mat-error>
                    </div>


                    <button type="submit" class="btn btn-primary">enregister</button>
                  </form>

                </div>
              </div>

            </li>
            <li><button mat-icon-button class="btn btn-danger">
                <mat-icon>delete</mat-icon>

              </button></li>
          </ul>


        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>
