mat-card-title {
  padding: 0;
  margin: 0;
margin-bottom: 2%;
  }
  table {
    width: 100%;
  }
mat-card{
  width: auto;
}
.example-container.mat-elevation-z8 {
  overflow-x: auto;
}
.example-container .mat-table.mat-table {
  min-width: 450px;
}
