<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="end center">

    <button mat-raised-button color='primary' (click)="openDialog()"><mat-icon>add</mat-icon> Ajoute compte</button></mat-card-title>
<mat-card-content *ngIf='comptes.length ===0' fxLayout="row" fxLayoutAlign="center center"> pas des compte !!!!!!</mat-card-content>
 <mat-card-content fxLayout="row" fxLayoutAlign="center" *ngIf='comptes.length !==0' >
    <table class="table table-responsive"  >

      <th>
          compte RIB
      </th>
      <th>banque</th>
      <th>actions</th>

      <tr  *ngFor="let compte of comptes"  >
          <td >{{compte?.RIB | mask:'00000-00000-00000000000-00'}}</td>

          <td >{{compte?.banque?.libelle}}
              </td>
              <td><button>Modif</button> <button>Supprimer</button></td>
      </tr>
  </table>
</mat-card-content>


</mat-card>
