<mat-card>
  <mat-card-title fxLayout fxLayoutAlign="center">
   Nouvel abonnemeent
  </mat-card-title>
  <form [formGroup]="form" (ngSubmit)="ajouteabonnemnt()">

  <mat-card-content  fxLayout="column" fxLayoutAlign="center ">
    <mat-form-field appearance="outline" >
      <mat-label>Date début</mat-label>
      <input matInput placeholder="Date début" type="date" formControlName='DateDebut'>
      <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="form.get('DateDebut').valid">done
      </mat-icon>
      <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="form.get('DateDebut').invalid&& form.get('DateDebut').touched">info</mat-icon>
      <mat-error *ngIf="form.get('DateDebut').invalid &&  form.get('DateDebut').touched">
          Veuillez saisir la date de début
      </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Duree</mat-label>

    <mat-select  formControlName="Period" (selectionChange)='patchprix($event)'>
      <mat-option *ngFor='let durre of dureeabonnement' [value]="durre.Valeur" >{{durre.Libelle}}</mat-option>
    </mat-select>
    <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="form.get('Period').valid">done
    </mat-icon>
    <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
        *ngIf="form.get('Period').invalid&&form.get('Period').touched">info</mat-icon>
    <mat-error *ngIf="form.get('Period').invalid&&form.get('Period').touched">
        Veuillez saisir la période
    </mat-error>
</mat-form-field>
<mat-form-field appearance="outline" >
  <mat-label>Montant</mat-label>
  <input matInput type="number" formControlName='Montant' class="example-right-align" >

  <span matSuffix>DT&nbsp;</span>

  <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="form.get('Montant').valid">done
  </mat-icon>
  <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
      *ngIf="form.get('Montant').invalid&&form.get('Montant').touched">info</mat-icon>
  <mat-error *ngIf="form.get('Montant').invalid&&form.get('Montant').touched">
      Veuillez saisir le montant
  </mat-error>
</mat-form-field>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="center center">
    <div class="btn">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
      <mat-icon>save</mat-icon>Enregistrer
      </button>
      <a mat-raised-button routerLink="/utilisateur/inscription" color="accent">
        <mat-icon>clear</mat-icon>Annuler      </a>
    </div>
  </mat-card-actions>
  </form>
</mat-card>
