<mat-card>
  <form [formGroup]='form'>


<mat-card-content fxLayout="column" fxLayoutAlign="center " >
  <mat-form-field appearance="fill" >
    <mat-label>Mot de passe actuel</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="actuelMotDePasse" placeholder="Mot de passe actuel">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
     [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('actuelMotDePasse').hasError('required')">
      Mot de passe actuel est <strong>obligatoire</strong>
  </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nouvelle mot de passe</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="nouvelleMotDePasse" placeholder="Nouvelle mot de passe">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('nouvelleMotDePasse').hasError('required')">
      Nouvel mot de passe est <strong>obligatoire</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirmer le mot de passe</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"
    placeholder="Confirmer le mot de passe"
    (input)="valid($event)" formControlName="retappernouvelleMotDePasse">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('retappernouvelleMotDePasse').hasError('required')">
        Veuillez confirmer le nouvel mot de passe
    </mat-error>
    <mat-error *ngIf="form.get('retappernouvelleMotDePasse').errors">
        Veuillez vérifier les mots de passe saisient
    </mat-error>
  </mat-form-field>
</mat-card-content>
<mat-card-actions mat-dialog-actions >
  <div>
    <button type='submit'
      mat-raised-button

      color="primary"
    >
      <mat-icon>save</mat-icon> Changer
    </button>
    <button mat-raised-button type="reset" color='accent' >
      <mat-icon>clear</mat-icon> Réinitialiser
  </button>
  </div>
</mat-card-actions>
  </form>

</mat-card>
