<mat-card>
<mat-card-content fxFlex >
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="actuelMotDePasse">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('actuelMotDePasse').hasError('required')">
      actuelMotDePasse est <strong>obligatoire</strong>
  </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="nouvelleMotDePasse">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('nouvelleMotDePasse').hasError('required')">
        nouvelleMotDePasse est <strong>obligatoire</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" (input)="valid($event)" formControlName="retappernouvelleMotDePasse">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('retappernouvelleMotDePasse').hasError('required')">
        nouvelleMotDePasse est <strong>obligatoire</strong>
    </mat-error>
    <mat-error *ngIf="form.get('retappernouvelleMotDePasse').errors">
        nouvelleMotDePasse est <strong>inco</strong>
    </mat-error>
  </mat-form-field>
</mat-card-content>



</mat-card>
