<div fxLayout="row" fxLayoutAlign="center center"  class="content">

  <mat-card fxFlex.lt-md="100%" fxFlex="100%">
    <mat-card-title fxLayout="column" fxLayoutAlign="center center" style="margin-top: 2%;">
      <div>
        <b>{{title}}</b>
      </div>
    </mat-card-title>
    <mat-card-title fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" style="margin-top: 2%;" >
      <div (click)='changeform("initFormPersonnel","Personnel")' >
        <img  src="../../../assets/images/client.jpg" alt="Card image cap" fxFlex="50%">
      </div>
      <div (click)='changeform("initFormSociete" ,"Société")'>
        <img  src="../../../assets/images/pngtree-cartoon-employee-character-png-image_4644644.jpg"
          alt="Card image cap">
      </div>
      <div (click)='changeform("initFormclient","Client")'>
        <img  src="../../../assets/images/pngtree-cartoon-employee-character-png-image_4644644.jpg"
          alt="Card image cap">
      </div>
    </mat-card-title>
    <form [formGroup]='formsociete'>

    <mat-card-content  >
<div fxLayout="row" fxLayout.lt-md='column' fxLayoutAlign="center" fxLayoutGap="20px">



      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Raison sociale</mat-label>
        <input matInput placeholder="Raison sociale" formControlName='Rs'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="formsociete.get('Rs').valid">done
        </mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('Rs').invalid&&formsociete.get('Rs').touched">info</mat-icon>
        <mat-error *ngIf="formsociete.get('Rs').invalid&&formsociete.get('Rs').touched">
          Veuillez saisir la raison sociale
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="Adresse" formControlName='Adresse'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="formsociete.get('Adresse').valid">
          done
        </mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('Adresse').invalid&&formsociete.get('Adresse').touched">info
        </mat-icon>
        <mat-error *ngIf="formsociete.get('Adresse').invalid&&formsociete.get('Adresse').touched">
          Veuillez saisir l'adresse
        </mat-error>
      </mat-form-field>
</div>
<div  fxLayout="row" fxLayout.lt-md='column' fxLayoutAlign="center" fxLayoutGap="20px">

      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Tel</mat-label>
        <input matInput placeholder="Téléphone" type='number' formControlName='Tel'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="formsociete.get('Tel').valid">done
        </mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('Tel').invalid&&formsociete.get('Tel').touched">info</mat-icon>
        <mat-error *ngIf="formsociete.get('Tel').hasError('required')&&formsociete.get('Tel').touched">
          Veuillez saisir le numéro de téléphone
        </mat-error>
        <mat-error *ngIf="formsociete.get('Tel').hasError('pattern')&&formsociete.get('Tel').touched">
          Le numéro de téléphone doit contenir 8 chiffres
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Fax</mat-label>
        <input matInput type='number' placeholder="Fax" formControlName='Fax'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}"
          *ngIf="formsociete.get('Fax').touched&&formsociete.get('Fax').valid">done</mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('Fax').invalid &&formsociete.get('Fax').touched">info</mat-icon>

        <mat-error *ngIf="formsociete.get('Fax').hasError('pattern')&&formsociete.get('Fax').touched">
          Le numéro de téléphone doit contenir 8 chiffres
        </mat-error>
      </mat-form-field>
      </div>
      <div  fxLayout="row" fxLayout.lt-md='column' fxLayoutAlign="center" fxLayoutGap="20px">

      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName='Email'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="formsociete.get('Email').valid">
          done
        </mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('Email').invalid&&formsociete.get('Email').touched">info
        </mat-icon>
        <mat-error *ngIf="formsociete.get('Email').hasError('required')&&formsociete.get('Email').touched">
          Veuillez saisir une adresse email
        </mat-error>
        <mat-error *ngIf="formsociete.get('Email').hasError('pattern')&&formsociete.get('Email').touched">
          Veuillez saisir une adresse email valide
        </mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Site</mat-label>
        <input matInput placeholder="Site" formControlName='Site'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}"
          *ngIf="formsociete.get('Site').touched&&formsociete.get('Site').valid">done</mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('Site').invalid&&formsociete.get('Site').touched">info</mat-icon>
        <mat-error *ngIf="formsociete.get('Site').hasError('pattern')&&formsociete.get('Site').touched">
          Veuillez saisir une url valide
        </mat-error>
      </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-md='column' fxLayoutAlign="center" fxLayoutGap="20px">

      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Matricule fiscale</mat-label>
        <input matInput placeholder="Matricule fiscale" formControlName='Matfiscale'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="formsociete.get('Matfiscale').valid">
          done</mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('Matfiscale').invalid&&formsociete.get('Matfiscale').touched">
          info
        </mat-icon>
        <mat-error *ngIf="formsociete.get('Matfiscale').hasError('required')&&formsociete.get('Matfiscale').touched">
          Veuillez saisir votre matricule fiscale
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Nom d'ulisateur</mat-label>
        <input matInput placeholder="Nom d'ulisateur" formControlName='Login'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="formsociete.get('Login').valid">
          done
        </mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('Login').invalid&&formsociete.get('Login').touched">info
        </mat-icon>
        <mat-error *ngIf="formsociete.get('Login').hasError('required')&&formsociete.get('Login').touched">
          Veuillez saisir votre nom d'ulisateur
        </mat-error>
        <mat-error *ngIf="formsociete.get('Login').hasError('minlength')&&formsociete.get('Login').touched">
          Veuillez saisir un nom d'ulisateur valide
        </mat-error>
      </mat-form-field>
      </div>
      <div  fxLayout="row" fxLayout.lt-md='column' fxLayoutAlign="center" fxLayoutGap="20px">

      <mat-form-field appearance="outline" fxFlex="40%">
        <mat-label>Mot De Passe</mat-label>
        <input matInput placeholder="Mot De Passe" type="password" formControlName='MotDePasse'>
        <mat-icon matSuffix [ngStyle]="{'color' :'green'}" *ngIf="formsociete.get('MotDePasse').valid">
          done</mat-icon>
        <mat-icon matSuffix [ngStyle]="{'color' :'red'}"
          *ngIf="formsociete.get('MotDePasse').invalid&&formsociete.get('MotDePasse').touched">
          info
        </mat-icon>
        <mat-error *ngIf="formsociete.get('MotDePasse').hasError('required')&&formsociete.get('MotDePasse').touched">
          Veuillez saisir votre mot de passe
        </mat-error>
        <mat-error *ngIf="formsociete.get('MotDePasse').hasError('minlength')&&formsociete.get('MotDePasse').touched">
          Le mot de passe doit contenir au moins 6 caractères
        </mat-error>
      </mat-form-field>
      <div  fxFlex="40%">
        <section class="example-section" *ngFor="let role of roles" fxLayout="row"  fxLayoutAlign="center">
                        <mat-checkbox class="example-margin" #checkbox [checked]="userID ===null ? role.Libelle===Userfunction : rolecheck(role)"
                            (change)='changerole(role,checkbox.checked)'>{{role?.Libelle}}</mat-checkbox>
                    </section>
      </div>

</div>


    </mat-card-content>
  </form>

  </mat-card>
</div>
