
form {
  margin-top: 2%;


  }


  mat-card  {
  padding: 0;
  margin: 0;}
  mat-card-content{
    margin: 2%;
  }
  .btn{
  padding: 0;
  margin: 2%;
  }
  mat-card-title {
  padding: 0;
  margin: 0;

  }
  mat-grid-tile {
    background: lightblue;
  }

img{

    width: 200px;
    height: 200px;

}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}



.image-preview {
  height: 5rem;
  padding: auto;
  width: 3rem;

}
.image-preview img{
  height: 100%;
  margin:1%
}

fieldset {
  width: 80%;
  }



