<mat-card [formGroup]='form' fxLayout="column" fxLayoutAlign="start" >
  <mat-card-content fxLayout='column' fxLayoutAlign='center'>
    <div>
       <mat-form-field appearance="fill"  fxFlex='100%'>
      <mat-label>Banque</mat-label>
      <select matNativeControl formControlName='banqueID' required >
          <option *ngFor="let banque of banques" [value]="banque.ID">{{banque.libelle}} </option>


      </select>
      <mat-error *ngIf="form.get('banqueID').hasError('required')">
          banque est <strong>obligatoire</strong>
      </mat-error>
  </mat-form-field>
    </div>
    <div>
 <mat-form-field appearance="fill" fxFlex='100%' >
      <mat-label>RiB </mat-label>
      <input matInput formControlName='RIB' required mask="00000-00000-00000000000-00">


      <mat-error *ngIf="form.get('RIB').hasError('required')">
          RIB est <strong>obligatoire</strong>
      </mat-error>
  </mat-form-field>
    </div>

  </mat-card-content>
<mat-card-actions fxLayout='row' fxLayoutAlign='center' fxLayoutGap='20px' >
   <button (click)="enregister()" mat-raised-button color='primary'><mat-icon>save</mat-icon>Enregistrer</button>
  <button mat-button (click)="onNoClick()" mat-raised-button color='warn'> <mat-icon>cancel</mat-icon>Fermer</button>
</mat-card-actions>


  </mat-card>
